body {
      font-family: Arial, sans-serif;
      background-color: #5d9cd4;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .calculator {
      background: rgb(11, 128, 218);
      padding: 25px;
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(176, 23, 23, 0.1);
      width: 300px;
      text-align: center;
    }
    input {
      width: 90%;
      padding: 10px;
      margin: 8px 0;
      border: 10px solid #1c0c0c;
      border-radius: 20px;
      font-size: 16px;
    }
    button {
      background-color: #cae66400;
      color: rgb(88, 62, 191);
      padding: 10px 15px;
      border: 10px solid rgb(0, 0, 0);
      border-radius: 20px;
      cursor: pointer;
      font-size: 16px;
    }
    button:hover {
      background-color: #0056b3;
    }
    h2 {
      color: #0b1101;
    }